---
import NoLoginLayout from '../layouts/NoLoginLayout.astro'
---

<NoLoginLayout title="Historico">
  <section>
    <h1 id="titulo">Historico con error</h1><br>
    <p id="descripcion" class="size-20">Error</p>
  </section>
  <section class="margin-32">
    <div id="chartdiv" style="width: 100%;">
    </div>
  </section>
</NoLoginLayout>

<script is:inline src="https://cdn.amcharts.com/lib/4/core.js"></script>
<script is:inline src="https://cdn.amcharts.com/lib/4/charts.js"></script>
<script is:inline src="https://cdn.amcharts.com/lib/4/plugins/forceDirected.js"></script>
<script>
  const titulo = document.getElementById('titulo');
  const descripcion = document.getElementById('descripcion');
  const params = window.location.search;
  const param = params.split('&');
  const id = param[0].split('=')[1];
  const tipo = param[1].split('=')[1];
  console.log(id, tipo);

  const myHeaders = new Headers();
  myHeaders.append("id", id);
  myHeaders.append("Access-Control-Allow-Origin", "*");
  myHeaders.append("Access-Control-Allow-Credentials", "true");
  myHeaders.append("Access-Control-Allow-Headers", "Origin, X-Requested-With, Content-Type, Accept");
  myHeaders.append("Vary", "Origin");
  myHeaders.append("Host", `${import.meta.env.PUBLIC_URL}`);

  const requestOptions = {
    method: 'GET',
    headers: myHeaders,
    redirect: 'follow'
  };
  let resp = {};
  let indicador = '';

  switch (tipo) {
    case 'produccion':
      titulo.innerHTML = 'Historico de la Producción';
      descripcion.innerHTML = `Muestra de los cambios en la producción con bloque ${id}.`;
      resp = await fetch(`${import.meta.env.PUBLIC_API_URL}/producciones/historico/`, requestOptions);
      indicador = 'idProduccion';
      break;
    case 'material':
      titulo.innerHTML = 'Historia del Material';
      descripcion.innerHTML = `Muestra el proceso del material con bloque ${id}.`;
      resp = await fetch(`${import.meta.env.PUBLIC_API_URL}/materiales/historia/`, requestOptions);
      indicador = 'Lote';
      break;
    case 'transporte':
      titulo.innerHTML = 'Historico del Transporte';
      descripcion.innerHTML = `Muestra de los cambios en el transporte con bloque ${id}.`;
      resp = await fetch(`${import.meta.env.PUBLIC_API_URL}/transportes/historico/`, requestOptions);
      indicador = 'idTransporte';
      break;
    default:
      break;
  }

  const {material, transporte, produccion} = await resp.json();

  const namesM = [];
  const namesT = [];
  const namesP = [];

  for (const name in material.data)
    if (Object.hasOwnProperty.call(material.data, name))
      namesM.push(name);
  console.log(namesM);

  for (const name in transporte.data)
    if (Object.hasOwnProperty.call(transporte.data, name))
      namesT.push(name);
  console.log(namesT);

  for (const name in produccion.data)
    if (Object.hasOwnProperty.call(produccion.data, name))
      namesP.push(name);
  console.log(namesP);

  const chart = am4core.create("chartdiv", am4plugins_forceDirected.ForceDirectedTree);
  // Create series

  let series = chart.series.push(new am4plugins_forceDirected.ForceDirectedSeries())

  const tran = namesT.map(name => {
    return {
      "name": name,
      "collapsed": true,
      "value": 0.5,
      "valorPropio": transporte.data[name],
    }
  });

  const prod = namesP.map(name => {
    return {
      "name": name,
      "collapsed": true,
      "value": 0.5,
      "valorPropio": produccion.data[name],
    }
  });

  const transporteC = {
    "name": 'Nombre',
    "valorPropio": 'Transporte',
    "collapsed": true,
    "value": 0.75,
    "children": tran
  }

  const produccionC = {
    "name": 'Nombre',
    "valorPropio": 'Produccion',
    "collapsed": true,
    "value": 0.75,
    "children": prod
  }

  const mat = namesM.map(name => {
    if(name == '_idProduccion')
      return {
        "name": name,
        "value": 0.5,
        "collapsed": true,
        "valorPropio": material.data[name],
        "children": [produccionC]
      }
    else
      return {
        "name": name,
        "collapsed": true,
        "value": 0.5,
        "valorPropio": material.data[name],
      }
  });

  const bloqueM = {
    "name": 'bloque',
    "valorPropio": material.metadata.id,
    "collapsed": true,
    "value": 0.5,
    "children": [transporteC]
  };

  // Set data
  series.data = [{
    "name": 'Nombre',
    "collapsed": false,
    "valorPropio": 'Material',
    "value": 1,
    "children": [...mat, bloqueM]
  }];

  // Set up data fields
  series.dataFields.value = "value";
  series.dataFields.name = "name";
  series.dataFields.children = "children";
  series.dataFields.collapsed = "collapsed";

  // Add labels
  series.nodes.template.label.text = "{valorPropio}";
  series.nodes.template.tooltipText = "{name}: {valorPropio}";
  series.nodes.template.label.truncate = true;
  series.fontSize = 16;
  series.maxRadius = 60;
  series.minRadius = 20;
  series.links.template.strokeWidth = 5;

  hideLoader();
</script>

<style>
  #chartdiv{
    height: 50vh;
  }
</style>