---
import DefaultLayout from '../../layouts/DefaultLayout.astro';
import Card from '../../components/accessible-astro-components/Card.astro';
import Modal from '../../components/accessible-astro-components/ModalG.astro';
import Pagination from '../../components/accessible-astro-components/Pagination.astro';
import Table from '../../components/Table.astro';
import MaterialForm from '../../components/MaterialForm.astro';

export async function getStaticPaths({ paginate }) {

  const response = await fetch(`http://localhost:8080/api/materiales/`);
  const result = await response.json();
  const materiales = result.respuesta;

  return paginate(materiales, { pageSize: 2 });
}

const { page } = Astro.props;

const imgs = [
  'https://res.cloudinary.com/nodecafe/image/upload/v1663260183/Dashboard/agave_v4xbus.jpg',
  'https://res.cloudinary.com/nodecafe/image/upload/v1663260183/Dashboard/tequila_zmzwmo.jpg'
];
---

<DefaultLayout title="Media">
  <section>
    <h1>Materiales</h1><br>
    <p class="size-20">Muestra de los materiales enviados.</p>
  </section>
  
  <section class="margin-32">
    <div class="space-content">
      <button id="modal-trigger" class="button color-secondary">Agregar nuevo</button>
      <button id="content-trigger" class="button color-success">Cambiar a tabla</button>

      <Modal
        triggerId="modal-trigger"
        title="Crear nuevo material"
        closeText="Cancel"
      >
        <MaterialForm />
      </Modal>

      {
          <div class="grid small-grid-1 medium-grid-2 large-grid-3 equal-height" style="display: none;" id="content">
            {
              page.data.map((item, index) => {
                return (
                  <Card
                    url={"#"}
                    img={item.Nombre == 'Agave' ? imgs[0] : imgs[1]}
                    title={item.Nombre}
                    subtitle={item.Lote}
                    footer={item._id}
                    text={item.FechaRecoleccion, item.Cantidad, item.Origen}
                  >
                    <p>Fecha de recolección: {item.FechaRecoleccion}</p>
                    <p>Lugar de origen: {item.Origen}</p>
                    <p>Cantidad: {item.Cantidad}</p>
                  </Card>
                );
              })
            }
          </div>
          
          <Table>
            <th slot="th">Identificador</th>
            <th slot="th">Nombre</th>
            <th slot="th">Cantidad</th>
            <th slot="th">Procedencia</th>

            {
              page.data.map((item, index) => {
                return (
                <tr slot="tr" class="" role="alert">
                  <td class="d-flex align-items-center">
                    <div class="img" style=
                    {
                      "background-image: url(" + (item.Nombre == 'Agave' ? imgs[0] : imgs[1]) + ");"
                    }
                    ></div>
                    <div class="pl-3 email">
                        <span>{item.Lote}</span>
                        <span>{item._id}</span>
                    </div>
                  </td>
                  <td>{item.Nombre}</td>
                  <td class="status"><span class="active">{item.Cantidad}</span></td>
                  <td class="align-items-center">
                      <div class="pl-3 email">
                          <span>{item.Origen}</span>
                          <span>{item.FechaRecoleccion}</span>
                      </div>
                  </td>
                </tr>
                );
              })
            }
          </Table>
      }
      

    </div>
    <div class="grid align-horizontal margin-32">
      <Pagination 
        previousPage={page.url.prev}
        nextPage={page.url.next}
        totalPages={page.lastPage}
        currentPage={page.currentPage}
      />
    </div>
  </section>
</DefaultLayout>

<style lang="scss" is:global>
  .media {
    width: 100%;
    max-height: 250px;
    object-fit: cover;
  }
</style>

<script>
  const button = document.getElementById('content-trigger');
  const content = localStorage.getItem('content');

  if(content == 'table') {
    button.textContent = 'Cambiar a tarjetas';
    document.querySelector('table').style.display = 'table';
  } else {
    button.textContent = 'Cambiar a tabla';
    document.getElementById('content').style.display = 'grid';
  }

  button.addEventListener('click', () => {
    console.log(button.textContent.trim());

    if(button.textContent.trim() == 'Cambiar a tabla') {
      localStorage.setItem('content', 'table');
      button.textContent = 'Cambiar a tarjetas';
      document.getElementById('content').style.display = 'none';
      document.querySelector('table').style.display = 'table';
    } else {
      localStorage.setItem('content', 'grid');
      button.textContent = 'Cambiar a tabla';
      document.getElementById('content').style.display = 'grid';
      document.querySelector('table').style.display = 'none';
    }

    button.blur();
  });
</script>